body {
  font-family: 'Open Sans', sans-serif;
}

.dropdownClass {
    @apply w-fit h-fit bg-neutral-white border border-neutral-white rounded shadow px-[1%] py-[0.5%] md:py-[0.3%] font-normal text-sm md:text-xs text-neutral-gray-dark focus:outline-none
}

.dropdownClassDark {
  @apply w-fit h-fit bg-neutral-black-dark border border-neutral-black-dark rounded shadow px-[1%] py-[0.5%] md:py-[0.3%] font-normal text-sm md:text-xs text-neutral-gray-light focus:outline-none
}

.selectClassLight {
  @apply h-7 bg-neutral-white border rounded font-normal text-xs text-neutral-black-dark px-[1%] focus:outline-none
}

.selectClassDark {
  @apply h-7 bg-neutral-black-dark border rounded font-normal text-xs text-neutral-gray-light px-[1%] focus:outline-none
}

.buttonClass {
  @apply font-semibold text-base md:text-xs text-neutral-white rounded shadow px-2 py-0.5 active:scale-95 duration-300
}

.inputClassLight {
  @apply h-7 bg-neutral-gray-light rounded font-normal text-xs text-neutral-black-dark px-[1%] focus:outline-none
}

.inputClassDark {
  @apply h-7 bg-neutral-black-light rounded font-normal text-xs text-neutral-gray-light px-[1%] focus:outline-none
}

.textareaClassLight {
  @apply bg-neutral-gray-light rounded font-normal text-xs text-neutral-black-dark p-[1%] focus:outline-none resize-none
}

.textareaClassDark {
  @apply bg-neutral-black-light rounded font-normal text-xs text-neutral-gray-light p-[1%] focus:outline-none resize-none
}

.filterApplyBtn {
  @apply bg-primary-blue-dark font-medium text-xs text-neutral-white rounded shadow px-[2%] py-[0.75%] md:py-[0.5%] active:scale-95 duration-300
}

.customScrollbar::-webkit-scrollbar {
  width: 0px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent; /* Ensure transparency */
}

/* For Firefox */
.customScrollbar {
  scrollbar-color: #9E9E9E transparent;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
