.dropdownClass {
    @apply w-fit h-fit bg-neutral-white border border-neutral-white rounded-3xl shadow-md px-[1%] py-[0.5%] font-normal text-xs text-neutral-gray-dark focus:outline-none active:scale-95 duration-300
}

.dropdownClassDark {
  @apply w-fit h-fit bg-neutral-black-dark border border-neutral-black-dark rounded-3xl shadow-md px-[1%] py-[0.5%] font-normal text-xs text-neutral-gray-light focus:outline-none active:scale-95 duration-300
}

.buttonClass {
  @apply font-semibold text-base text-neutral-white rounded-lg shadow-md px-2 py-0.5 active:scale-95 duration-300
}

.inputClass {
  @apply h-8 bg-neutral-gray-light rounded-lg font-normal text-base text-neutral-black-dark px-[2%] focus:outline-none
}

.textareaClass {
  @apply bg-neutral-gray-light rounded-lg font-normal text-sm text-neutral-black-dark px-[2%] py-[1%] focus:outline-none resize-none
}

.customScrollbar::-webkit-scrollbar {
  width: 0px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent; /* Ensure transparency */
}

/* For Firefox */
.customScrollbar {
  scrollbar-color: #9E9E9E transparent;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
